*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px(browser default) = 62.5%
}

.app {
  background-color: #c5e4c7;
  height: 100vh;
}
